<html>
  <head>
    <title>Templating in Flask</title>
  </head>
  <body>
    <h1>But who are you ... ?</h1>
  </body>


  <form action="/form" method="post">
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname" value="John"><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname" value="Doe"><br><br>

    <body>
      <h1>B... euh ... and what do you want to do ?</h1>
    </body>
      <input type="radio" id="stay here" name="fav_language" value="stay here">
      <label for="stay here">S.T.A.Y  H.E.R.E</label><br>
      <input type="radio" id="go to home" name="fav_language" value="go to home">
      <label for="css">G.O  T.O  H.O.M.E</label><br>
      <input type="radio" id="I don't know" name="fav_language" value="I don't know">
      <label for="javascript">I  D.O.N.'T  K.N.O.W </label>
      <input type="submit" value="Submit">
    </form>

  </form> 

 



</html>
