<html>
  <head>
    <title>Templating in Flask</title>
  <img src="https://wallpaperset.com/w/full/6/c/a/433889.jpg" alt="Italian Trulli">
  </head>
  <body style="background-color:rgb(255, 255, 255);>
    <h1>Hello {{ user }}!</h1>
    <p>Welcome to the world of Flask!</p>
    <img src="{{ url_for('static', filename= 'img/sortie_secours_gauche.webp') }}" alt = "fhbkjz" width="400" height="150">
    <p>Bonsoir je suis alexandra et j'oublie d'eteindre mon ordinateur</p>
    <a href="about">A  S.M.A.L.L  D.O.O.R !</a> 
  </body>
</html>
